name: Spring Boot CI/CD

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  ci:
    name: Build & Test (CI)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package -DskipTests

  docker:
    name: Build & Push Docker Image (CD)
    runs-on: ubuntu-latest
    needs: ci

    # ✅ हे important: docker job फक्त push/merge वर चालेल
    if: github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ✅ image ला tag: latest आणि commit-sha दोन्ही देतो
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ajaykhandare69docker/springboot-ci-cd-demo:latest
            ajaykhandare69docker/springboot-ci-cd-demo:${{ github.sha }}
