name: Spring Boot CI/CD

on:
  push:
    branches: [ "master" ]
    
jobs:
  ci:
    name: Build & Test (CI)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build JAR
        run: mvn clean package -DskipTests

  docker_and_deploy:
    name: Build Docker + Deploy to Kubernetes
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ajaykhandare69docker/springboot-ci-cd-demo:latest
            ajaykhandare69docker/springboot-ci-cd-demo:${{ github.sha }}

      - name: Setup kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > ~/.kube/config

      - name: Deploy to Kubernetes (set new image)
        run: |
          kubectl set image deployment/springboot-demo springboot-demo=ajaykhandare69docker/springboot-ci-cd-demo:${{ github.sha }}
          kubectl rollout status deployment/springboot-demo
